@using Open.Facade.Location
@model WebPageAddressViewModel

@{
    ViewBag.Title = "Details";
    ViewBag.SubTitle = $"{Model.AddressType} Address";
    Layout = "_DetailsPartial";
}

<body>
@Html.Partial("_ViewWeb", Model)
</body>

@section Actions{
    @Html.ActionLink("Edit", "Edit", new {id = Model.ID})
    @Html.ActionLink("Back to List", "Index")
}

