@using Open.Facade.Location
@model EMailAddressViewModel

@{
    ViewBag.Title = "Details";
    ViewBag.SubTitle = $"{Model.AddressType} Address";
    Layout = "_DetailsPartial";
}

<body>
@Html.Partial("_ViewEmail", Model)
</body>

@section Actions{
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
    @Html.ActionLink("Back to List", "Index")
}

