@model Open.Facade.Location.WebPageAddressViewModel

@{
    ViewBag.Title = "Edit";
    ViewBag.SubTitle = $"{Model.AddressType} Address";
    ViewBag.Button = "Save";
    Layout = "_EditPartial";
}

<body>
@Html.Partial("_EditWeb", Model)
</body>

@section Actions{
    @Html.ActionLink("Back to List", "Index")
}


